<br>

<div class="d-flex justify-content-center text">
    <h1>Modifica Utente</h1>
</div>

<%= render 'form', utente: @utente %>

<%= link_to 'MOSTRA', @utente, class:"btn btn-info buttonn" %> 

<%= link_to 'INDIETRO', utentes_path, class:"btn btn-secondary buttonn" %>

<div style="padding: 10px"></div>
