<h5>Vieni a visitare i numerosi castelli della Loira, un esperienza da non perdere.<br>
    Guarda i meravigliosi castelli che potrai visitare:</h5>
    <a class="btn btn-dark btn-lg" href="/" role="button">Vieni a vedere</a>
<br>
<br>


<div class="container">
  <div class="row row-cols">
    <div class="col">
    <div class="card">
    <p><%= image_tag 'Chenonceau.jpg', class: 'sasso' %></p>
    <div class="card-body">
      <h5 class="card-text">Castello di Chenonceau</h5></div></div>
    </div>
    <div class="col">
    <div class="card">
    <p><%= image_tag 'Amboise.jpg', class: 'sasso' %></p>
    <div class="card-body">
    <h5 class="card-text">Castello di Amboise</h5></div></div>
    </div>
    <div class="col">
    <div class="card">
    <p><%= image_tag 'Blois.jpg', class: 'sasso' %></p>
    <div class="card-body">
    <h5 class="card-text">Castello Reale di Blois</h5></div></div>
    </div>
    </div>
    </div>

<br>