/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 

 img {
    height: auto;
    width: 100vw;
    background-color: darkslategrey;
 }

body{
   background-color: #95ACFF;
   text-align: center;
   justify-content: center;
}


footer {
    color: white;
   background: #383c44;
   background: -webkit-linear-gradient(to right, #383c44, #383c44);
   background: linear-gradient(to right, #383c44, #383c44);
 }

 .card{
    border-radius: 20px;
    background-color: #A61BA9;
    padding: 20px;
}
col {
    
    background-color: #A61BA9;
    
}
.sasso {
    border-radius: 20px;
    height: 250px;
    width: 300px;
}


 

 

 
 
 

 

 