<br>
<div class="d-flex justify-content-center text">
    <h1>Modifica Tappa</h1>
</div>

<%= render 'form', tappe: @tappe %>
<br>
<%= link_to 'Mostra', @tappe, class:"btn btn-info buttonn" %> 

<%= link_to 'Indietro', tappes_path, class:"btn btn-secondary buttonn" %>

<div style="padding: 10px"></div>